html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}

.hidden {
    display: none;
}

.visually-hidden { /* To maintain accessibility */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

#main-content {
    width: 800px;
    max-width: calc(100% - 20px);
    margin: 5px auto;
}

.panel {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

#switch-store-panel {
    color: black;
    background-color: white;
}

#switch-store-panel form {
    display: flex;
    gap: 5px;
    align-items: center;
}

#switch-store-panel select {
    flex-grow: 1;
    font-size: 110%;
}

.theme1 #switch-store-panel {
    border-color: navy;
    background-color: lightblue;
}

.theme2 #switch-store-panel {
    border-color: hotpink;
    background-color: lightpink;
}

.theme3 #switch-store-panel {
    border-color: #2d2d2d;
    background-color: lightgrey;
}

#results-panel {
    padding: 0;
    margin-bottom: 10px;
}

#results-list {
    padding: 0;
    margin: 0;
}

#results-list li {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
}

#results-list li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

#results-list li a:hover {
    text-decoration: underline;
}

#load-data-form {
    display: flex;
    gap: 10px;
    margin: 10px;
}

#load-data-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#status-panel-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

#status-spinner {
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

#search-fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 1.5em;
}

#search-text {
    flex-grow: 1;
    font-size: 120%;
}

#search-fieldset label {
    align-self: center;
}

#search-fieldset button {
    height: 100%;
}

@media only screen and (max-width: 480px) {
    #search-fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search-text {
        width: 95%;
    }
}

.metadata {
    color: grey;
    font-size: 0.7rem;
    margin: 10px;
    cursor: pointer;
}

/* Item specific */

.item {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.item-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.item-sections {
    margin-left: 15px;
}

.item-section {
    margin: 5px;
}

.item-section-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-variant: small-caps;
    
    cursor: pointer;
}

.item-section-content {
    margin-left: 15px;
    margin-bottom: 20px;
}

.item-section-content p {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
}

.item-section-content .subsection1 {
    color: black;
    background-color: white;
    font-weight: bold;
    margin-top: 15px;
}

.theme1 .item-section-content .subsection1 {
    background-color: cyan;
}

.theme2 .item-section-content .subsection1 {
    background-color: hotpink;
}

.theme3 .item-section-content .subsection1 {
    background-color: grey;
}

.item-section-content .subsection2 {
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px dashed;
    margin-bottom: 10px;
    margin-top: 10px;
}

.item-section-content .subsection3 {
    color: black;
    background-color: whitesmoke;
    padding: 2px;
    padding-left: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.theme1 .item-section-content .subsection3 {
    background-color: lightblue;
}

.theme2 .item-section-content .subsection3 {
    background-color: lightpink;
}

.theme3 .item-section-content .subsection3 {
    background-color: lightgray;
}

/* Non-item specific */

h1 {
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
}

h4, h5 {
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #1b1b1b;
		color: #f0f0f4;
	}
	
	.metadata {
		color: lightgray;
	}
}